*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato;
}

header{
    background-color: black;
    color: white;
    padding: 20px 0px;
    position:fixed;
    width: 100%;
    height: 75px;
    z-index: 1;
    

}

main{
    padding-top: 150px;
    padding-bottom: 80px;
}

.header-cont{
    max-width: 1180px;
    margin: 0 auto;
}


.container{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.d-flex{
    display: flex;
}

.align-center{
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.align-right{
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.align-left{
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.align-between{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.col-centrale{
    width: 60%;
}

.col-side{
    width: 20%;
}

.social{
    width: 100%;
    padding: 10px 0;
}

.social-symbol{
    margin: 0 10px;

}

h3{
    width: 100%;
    padding: 8px;
}

h4{
    padding-right: 45px;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}

.col-33{
    width: 25%;
}

.bg-red{
    background-color: red;
}

.border-black{
    border: 1px solid black;
}

.card{
    width: 100%;
    position: relative;
}

.card img{
    width: 100%;
}

.label{
    padding: 0px 1px;
    position: absolute;
    bottom: 40px;
    left: 0;
    color: white;
}

.label-2{
    padding: 0px 1px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
}

.label-3{
    padding: 5px 10px;
    position: absolute;
    top: 8px;
    right: 0px;
    color: rgb(0, 0, 0);
}

.bg-white{
    background-color:white;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.relative{
    position: relative;
}

.logo{
    height: 25px;
}

.inline-block{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

li{
    margin: 0px 8px;
    display: inline-block
    
}

footer{
    background-color: #1b1a1a;
    padding: 25px 0px;
    color: white;
}

.card:hover .front{
    
    display: none;
}

.card:hover .back{
    opacity: 1;
    display: block;
}

.front{
    display: block;
}

.back{
    display: none;
}
